*{
    font-family: 'Courier New', Courier, monospace , sans-serif;
    background-color: beige;
    
}

h1{
    text-align: center;
    font-weight: 900;
    color:peru;
}

a{
    color:green;
}

a:hover{
    color:red;
}

li{
    color:blue;
    font-size: 14px;
    font-weight:400;
}

.content , p small{
    color:peru;
}

div{
    padding:20px;
}

img:hover{
    
    padding-left: 300px;
}